 

@media only screen and (min-width: 751px){
	/* desktop and tablet device */

	label {
		font-style: italic;
		font-weight: 600;
	}

	.image {
		width: 250px;
		height: 250px;
		background-color: gray;
		margin: 0 auto;
	}


	.titre {
		font-size: 2em;
		font-weight: 600;
		margin: 0 auto;
	}

	.commander {
		float: right;
	}

	.home {
		font: italic 600 40px Times, Times New Roman, serif;
	}

}


@media only screen and (max-width: 750px){
	/* Mobile device */

	.about {
		font-size: 12px;
		font-style: italic;
		font-weight: 600;
	}

	.image {
		width: 250px;
		height: 250px;
		background-color: gray;
		margin: 0 auto;
	}

	.titre {
		font-size: 25px;
		font-weight: 600;
		margin: 0 auto;
	}
	
	.commander {
		float: right;
	}

	.auteur {
		text-decoration: none;
	}

	.home {
		font: italic 600 0.9em Times, Times New Roman, serif;
	}

	.description label {
		font-style: italic;
		font-weight: 600;
	}

}