<div class="container1">
	
	<p id="title"><a class="titre" routerLink="/">CommeChezMoi</a></p>

	<div class="container2 shadow-lg p-3 mb-5 bg-body">
		<p><b>Connectez vous !</b></p>
		
		<form>
			
			<input type="text" name="username" class="username" placeholder="Nom d'utilisateur">

			<input type="password" name="password" class="password" placeholder="Mot de passe">

			<button type="submit" name="connexion" class="connexion btn btn-success">Connexion</button>

		</form>
		<p>pas de compte ? <a routerLink="/register">S'incrire</a></p>


	</div>


</div>
