<div class="container1">
	
	<p id="title"><a class="titre" routerLink="/">CommeChezMoi</a></p>

	<div class="container2 shadow-lg p-3 mb-5 bg-body">
		<p><b>Connectez vous !</b></p>
		
		<form [formGroup]="logForm" (ngSubmit)="signin()">
			
			<label class="mail" *ngIf="error_email != ''">{{ error_email }}</label>
			<input type="email" formControlName="email" class="username" placeholder="adresse email" required>
			
			<label class="pwd" *ngIf="error_password != ''">{{ error_password }}</label>
			<input type="password" formControlName="password" class="password" placeholder="Mot de passe" required="">
			

			<button type="submit" name="connexion" class="connexion btn btn-success">Connexion</button>

		</form>
		<p>pas de compte ? <a routerLink="/register">S'incrire</a></p>


	</div>

</div>
