<div class="container1">
	
	<p id="title"><a class="titre" routerLink="/">CommeChezMoi</a></p>

	<div class="container shadow-lg p-3 mb-5 bg-body">
		<p><b>Inscrivez vous !</b></p>
		
		<form>
			<div class="row">

				<div class="col">
					<label for="lastname">Nom<font color="red">*</font>:</label>
					<input type="text" name="lastname" id="lastname">
				</div>
				<div class="col">
					<label for="firstname">Prenom<font color="red">*</font>:</label>
					<input type="text" name="firstname" id="firstname">
				</div>

			</div>

			<div class="row">

				<div class="col">
					<label for="profil">Profil<font color="red">*</font>:</label>
					<select class="form-select">
						<option disabled selected>Choisissez votre profil</option>
						<option value="cuistot">Cuistot</option>
						<option value="client">Client</option>
					</select>
				</div>
				<div class="col">
					<label for="email">Email<font color="red">*</font>:</label>
					<input type="email" name="email" id="email">
				</div>

			</div>

			<div class="row">

				<div class="col">
					<label for="password">Mot de passe<font color="red">*</font>:</label>
					<input type="password" name="password" id="password">
				</div>
				<div class="col">
					<label for="vpassword"> Vérification mot de passe<font color="red">*</font>:</label>
					<input type="password" name="vpassword" id="vpassword">
				</div>

			</div>

			<div class="row">

				
				<div class="col">
					<label for="telephone">Téléphone<font color="red">*</font>:</label>
					<input type="text" name="telephone" id="telephone">
				</div>
				<div class="col">
					<label for="adresse">Adresse<font color="red">*</font>:</label>
					<input type="password" name="adresse" id="adresse">
				</div>

			</div>


			<button type="submit" name="register" class="register btn btn-success">S'inscrire</button>

		</form>


	</div>


</div>
